{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}
    <div class="row">
        {% for rec in post %}
            <div class="col-lg-2 col-md-12">
                <div class="h-100">
                    <div class="card-body d-flex flex-column">
                        <a href="{% url 'view' rec.id %}">
                        <video poster="{% static 'img/ted.jpg' %}" preload="none" width="200">
                            <source src="{{ rec.video.url }}">
                        </video>
                        </a>
                        <p style="padding-top: 15px; font-size: 12px"
                           class="text-muted">{{ request.user.first_name|upper }}</p>
                        <h5 class="card-title">{{ rec.subject }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}