html, body {
    font-family: inherit;
}
.ulclass {
    font-weight: 700;
    font-size: .75rem
}

/* search bar */
.search-box {
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover {
    background: #e9ecef;
}
.search-box:hover > .search-txt {
    width: 240px;
    height: 100%;
    font-size: 16px;
    background: #e9ecef;
}
.search-btn {
    color: #000000;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 680px){
    .search-btn {
        align-items: flex-end;
    }
}
.search-txt {
    border: none;
    background: none;
    padding: 0;
    transition: 0.4s;
    outline: none;
    width: 0;
}
/* Index Join text */
.join {
    position: relative;
    background: #151414;
    height: 250px;
}
@media screen and (max-width: 1000px) {
    .join {
        height: 300px;
    }
}
.join-text {
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
}
.join-text-h4 {
    font-weight: 600;
}
.join-btn {
    outline: none;
    border: none;
    width: 140px;
    height: 40px;
    background: #c90000;
    color: white;
    border-radius: 5px;
}