/* general styles */
* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: inherit;
}
.ulclass {
    font-weight: 700;
    font-size: .75rem
}

/* search bar */
.search-box {
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover {
    background: #e9ecef;
}
.search-box:hover > .search-txt {
    width: 240px;
    height: 100%;
    font-size: 16px;
    background: #e9ecef;
}
.search-btn {
    color: #000000;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 680px){
    .search-btn {
        align-items: flex-end;
    }
}
.search-txt {
    border: none;
    background: none;
    padding: 0;
    transition: 0.4s;
    outline: none;
    width: 0;
}

/* Index Join text */
.join {
    position: relative;
    background: #151414;
    height: 250px;
}
@media screen and (max-width: 1000px) {
    .join {
        height: 300px;
    }
}
.join-text {
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
}
.join-text-h4 {
    font-weight: 600;
}
.join-btn {
    outline: none;
    border: none;
    width: 140px;
    height: 40px;
    background: #c90000;
    color: white;
    border-radius: 5px;
}

/* start footer */
.footer-line {
    width: 100%;
    border: 1px solid red;
    opacity: 100;
}

ul {
  list-style: none;
}
li {
  text-align: justify;
}
.footer {
  background-color: #fff;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #232121;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #232121;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.footer-end {
    position: relative;
    background: #e9ecef;
    width: 100%;
    height: 140px;
}
.fend-info {
    position: absolute;
    top: 50%;
    left: 5%;
}
/* Newest Talks */

.newest-talks {
    position: relative;
    padding-bottom: 80px;
}
.newest-talks > h3 {
    padding-top: 3%;
    font-weight: 900;
    padding-left: 1%;
}
.advice1 {
    background: rgba(246,246,246);
    height: 30%;
}

/* Loader */


.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.loader > div {
  height: 100%;
  width: 8px;
  display: inline-block;
  float: left;
  margin-left: 2px;
  -webkit-animation: delay 0.8s infinite ease-in-out;
  animation: delay 0.8s infinite ease-in-out;
}
.loader .bar1 {
  background-color: #754fa0;
}
.loader .bar2 {
  background-color: #09b7bf;
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.loader .bar3 {
  background-color: #90d36b;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.loader .bar4 {
  background-color: #f2d40d;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.loader .bar5 {
  background-color: #fcb12b;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.loader .bar6 {
  background-color: #ed1b72;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes delay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.05);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes delay {
  0%, 40%, 100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}